<div class="panel panel-default">
    <div class="panel-heading">留言板</div>
    <div class="panel-body">
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>标题</th>
                <th>内容</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="data in list">
                <td>{{data.id}}</td>
                <td>{{data.user}}</td>
                <td>{{data.title}}</td>
                <td>{{data.content}}</td>
                <td><a href="" ng-click="edit(data.id)">修改</a>  | <a href="" ng-click="delete(data.id)">删除</a> </td>
            </tr>
        </table>
    </div>
</div>